body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 2px;
    background-color:red;
    color: white;
      
}

header {
  background-color: blueviolet;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  background-color:orange;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a.active, nav ul li a:hover {
  color: red;
}
.hero{
   background-color: #F2F7F9;
    background-size: 100%;
    height: 20vh;
    color: black;
}
.hero h1{
    font-size: 48px;
}
.hero p{
    font-size: 24px;
}
.featured-products{
    padding: 2em;
    background-color: #F7F7;

    
}
.featured-products h2{
    font-size: 32px;
}
.featured-products ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    justify-content: space-between;

}
.featured-products li{
    margin: 20px;
    width: 200px;
    border-radius: 10px;
}
.featured-products p{
    color: white;
}
.featured-products img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.featured-products button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-style: italic;
}

.categories {
    padding: 2em;
    background-color: grey;

}
.categories ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.categories li{
    margin: 20px;
    width: 200px;
    background-color: yellow;
    border-radius: 10px;
}
.categories img {
   width: 100%;
   height: 150px;
   object-fit: cover;
   border-radius: 10px;
     
}
.categories h2{
  font-size: 32px;  
}
.shop{
    padding: 2em;
    text-align: center;
    background-color: #004d00;
}
.shop button {
    background-color:blueviolet;
    color: #fff;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.search-bar{
    padding: 2em;
    text-align: center; 
}
.search-bar input{
    width: 50%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
.search-bar button {
    background-color: blueviolet;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #004d00;
  color: white;
}









