body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('BACKGROUND\ 3.png')
}

nav {
    background: orange;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover, .active {
    color: blue;
}

.menu-icon {
    display: none;
    font-size: 26px;
    color: white;
}


.page-header {
    text-align: center;
    padding: 50px 20px;
    background: url('BACKGROUND\ 2.jpg');
    border-radius: 200px;
    color: orange;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
}

.service-card {
    background: orange;
    width: 300px;
    height: 400px;
    padding: 0px;
    text-align: center;
    border-radius: 100px;
    transition: 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.service-card img.service-img {
  width: 100%;      
  height: 180px;     
  border-radius: 8px 8px 0 0;
  object-fit: cover; 
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 12px rgba(0,0,0,0.25);
}

.btn-details {
    margin-top: 15px;
    padding: 10px 20px;
    background: blue;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-details:hover {
    background: blue;
}

@media (max-width: 768px) {

    nav ul {
        display: none;
        flex-direction: column;
        background: black;
        width: 100%;
        padding: 20px;
    }

    .menu-icon {
        display: block;
    }
}

footer {
  background-color: black;     
  color: WHITE;               
  text-align: center;        
  padding: 15px 0;           
  font-size: 0.9rem;          
  position: relative;        
  margin-top: 40px;          
}
